<div class="wrapper">
  <div class="header box">
    Hello There
  </div>
  <div id="map" class="box">
    <Map ref:map/>
  </div>
  <div class="box settings">
  </div>
</div>

<style>
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: "header header" "map settings";
  }

  #map{
    grid-area: map;
  }

  .settings{
    grid-area: settings;
  }

  .header{
    grid-area: header;
    font-family: 'Comfortaa', sans-serif;
  }

  .box {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
  }
</style>

<script>
  import Map from './Map.html'

  export default {
    data() {
      return {

      }
    },

    oncreate() {
      window.setInterval( ()=> {
        let xhr = new XMLHttpRequest();
        xhr.open('GET', "https://cape.mybluemix.net/locations", true);
        xhr.setRequestHeader( 'Access-Control-Allow-Origin', 'https://cape.mybluemix.net');
        xhr.send();

        xhr.onreadystatechange = () => {
          if (xhr.readyState == 4 && xhr.status == 200){
            this.refs.map.updatePoints(JSON.parse(xhr.responseText))
          }
        }

        // let points = [
        // {
        //   latitude: 0,
        //   longitude: 0,
        //   uuid: "BLAH 1"
        // },
        // {
        //   latitude: Math.random()*90,
        //   longitude: Math.random()*90,
        //   uuid: "BLAH 2"
        // },
        // ]

        // if(Math.random()>0.5){
        //   points.push({
        //     latitude: Math.random()*90,
        //     longitude: Math.random()*90,
        //     uuid: "BLAH 3"
        //   });
        // }

        // this.refs.map.updatePoints(points)
      }, 1000)
    },

    methods: {

    },

    computed:{

    },

    components: {
      Map
    }
  }
</script>
