<div class="wrap">
  <!-- Map goes here -->

  <div class="map" ref:map></div>

</div>

<script>
  import L from '../leafletRover.js';

  let map;
  let icon;
  export default {
    data() {
      return {
        markers: {}
      }
    },

    oncreate() {

      map = L.map("map", {
            center: [0, 0],
            zoom: 10,
            minZoom: 1,
            maxZoom: 18
        }).setView([0, 0], 10);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoiYWRhbWJyb3duOTciLCJhIjoiY2pqaXM4bnljNXhqdzNrcDFxNnQwNGFnMCJ9.J-5HGxCYez3_65b5uvI4Qw'
      }).addTo(map);
      L.control.scale({imperial: false}).addTo(map);

      // Fit to overlay bounds (SW and NE points with (lat, lon))
      // map.fitBounds([[0, 0], [0, 0]]);


      // const locationIcon = L.icon({
      //   iconUrl: '/static/location_marker_icon.png',
      //   iconSize: [64, 64],
      //   iconAnchor: [32, 32]
      // });
      icon = L.icon({
        iconUrl: '/static/map_marker.png',
        iconSize: [32, 32],
      });
    },



    methods: {
      updatePoints(newMarkersJSON) {
        let markers = this.get().markers
        let newMarkers = {}
        for(let i in newMarkersJSON){
          let markerJSON = newMarkersJSON[i]
          let uuid = markerJSON.uuid
          if(typeof markers[uuid] !== "undefined"){
            markers[uuid].setLatLng([markerJSON.latitude, markerJSON.longitude])
            newMarkers[uuid] = markers[uuid]
            delete markers[uuid]
            newMarkersJSON[i].exists = true
          }else{
            newMarkersJSON[i].exists = false
          }
        }
        for(let i in markers){
          map.removeLayer(markers[i])
        }

        for(let i in newMarkersJSON){
          let markerJSON = newMarkersJSON[i]
          if(markerJSON.exists)
            continue
          let marker = new L.Marker([markerJSON.latitude, markerJSON.longitude], {
            icon: icon,
          }).addTo(map).bindPopup(markerJSON.uuid);
          newMarkers[markerJSON.uuid] = marker
        }

        this.set({
          markers: newMarkers
        })
      }
    },
  }
</script>

<style>
  .map {
    height: 80vh;
  }

  .wrap {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .box {
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
  }
</style>
